#set($layout = "layout/layout.vm")
<style>
.tree {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #fbfbfb;
	border: 1px solid #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px 0 5px;
	position: relative
}

.tree li::before, .tree li::after {
	content: '';
	left: -20px;
	position: absolute;
	right: auto
}

.tree li::before {
	border-left: 1px solid #999;
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 1px
}

.tree li::after {
	border-top: 1px solid #999;
	height: 20px;
	top: 25px;
	width: 25px
}

.tree li span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	border-radius: 5px;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none
}

.tree li.parent_li>span {
	cursor: pointer
}

.tree>ul>li::before, .tree>ul>li::after {
	border: 0
}

.tree li:last-child::before {
	height: 30px
}

.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span
	{
	background: #eee;
	border: 1px solid #94a0b4;
	color: #000
}

.authorizationDialog .modal-content{
     width: 800px;
}
</style>
<section class="content-header">
	<h1>
		角色管理<small>Role</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="$rc.contextPath/home"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">用户权限管理</li>
	</ol>
</section>
<section class="content">
	<!-- 主代码-->
	<div class="box box-info">
		<div class="box-header with-border">
			<form class="form-horizontal" id="searchForm">
				<div class="form-group">
					<label  class="col-sm-1 control-label">角色标识:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="role" placeholder="请输入角色标识">
					</div>
					
					<label  class="col-sm-1 control-label">角色描述:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control"  name="description" placeholder="请输入角色描述">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-11">
						<button type="button" id="searchBtn" class=" btn btn-info">
							<span class="fa fa-search"></span>搜索
						</button>
						<button type="button" class="btn"  id="addBtn">
							<span class="fa fa-plus"></span>添加
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="box-body">
			<table id="tableList" class="table table-striped"></table>
		</div>
		<!-- /.box-body -->
	</div>
</section>
<!-- 添加表单html信息 -->
<div id="addFormHtml" style="display:none">
	<form  method="post" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">角色标识:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="role"
					placeholder="请输入角色标识">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">角色描述:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="description"
					placeholder="请输入角色描述">
			</div>
		</div>
	</form>
</div>

<div id="editFormHtml" style="display: none">
	<form  class="form-horizontal">
		<input type="hidden" name="id" value="">
		<div class="form-group">
			<label class="col-sm-2 control-label">角色标识:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="role"
					placeholder="请输入角色标识">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">角色描述:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="description"
					placeholder="请输入角色描述" >
			</div>
		</div>
	</form>
</div>

<div id="authorizationFormHtml" style="display: none">
	<div class="tree well">
		<!-- 用户权限管理模块 -->
		<ul>
			<li class="f1"><span><i class="icon-folder-open"></i><input type="checkbox" class="level1" /> 用户权限管理</span>
				<ul>
					<li class="f2">
						<span><i class="icon-minus-sign"></i><input type="checkbox" name="permission" class="level2" /> 用户管理</span>
						<ul>
							<li class="f3">
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 用户查询</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 用户添加</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 用户更新</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 用户删除</span>
							</li>
						</ul>
					</li>
					<li class="f2">
						<span><i class="icon-minus-sign"></i> <input type="checkbox" name="permission" class="level2" /> 角色管理</span>
						<ul>
							<li class="f3">
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 角色查询</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 角色添加</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 角色更新</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 角色删除</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 角色授权 </span>
							</li>
						</ul>
					</li>
					<li class="f2">
						<span><i class="icon-minus-sign"></i><input type="checkbox" name="permission" class="level2" /> 权限管理</span>
						<ul>
							<li class="f3">
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 权限查询</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 权限添加</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 权限更新</span> 
								<span><i class="icon-leaf"></i><input type="checkbox" name="permission" class="level3" /> 权限删除</span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		
	</div>

</div>
<script src="$rc.contextPath/assets/js/role/role.js"></script>
<script>
$(function(){
	
	function trueorfalse(obj){
		var bool = false;
		$(obj).each(function(){
			if($(this).prop("checked")){
				bool= true;
			}
		})
		return bool;
	} 
	
	$(document).on('click','#authorizationDialog .level1',function(){
		var status = $(this).prop("checked");
		$(this).parents(".f1").find("input[name='permission']").prop('checked',status);
		
	});
	
	$(document).on('click','#authorizationDialog .level2',function(){
		var status = $(this).prop("checked");
		$(this).parents(".f2").find("input[name='permission']").prop('checked',status);
		$(this).parents(".f1").find(".level1").prop('checked',trueorfalse($(this).parents(".f2").siblings().andSelf().find(".level2")));
		
	});
	
	
	$(document).on('click','#authorizationDialog .level3',function(){
		$(this).parents(".f2").find(".level2").prop('checked',trueorfalse($(this).parents(".f3").find(".level3")));
		$(this).parents(".f1").find(".level1").prop('checked',trueorfalse($(this).parents(".f1").find(".level3")));
		
	});
	
	
})



</script>
