<script src="$rc.contextPath/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="$rc.contextPath/bootstrap/js/bootstrap.min.js"></script>
<script src="$rc.contextPath/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="$rc.contextPath/assets/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="$rc.contextPath/assets/js/bootstrap-table.min.js"></script>
<script src="$rc.contextPath/assets/js/bootstrap-table-zh-CN.min.js"></script>
<script src="$rc.contextPath/assets/js/bootstrap-dialog.min.js"></script>
<script src="$rc.contextPath/assets/js/bootstrap-notify.min.js"></script>
<script src="$rc.contextPath/assets/js/pnotify.custom.min.js"></script>
<script src="$rc.contextPath/plugins/select2/select2.full.min.js"></script>
<script src="$rc.contextPath/assets/js/bootstrap-paginator.min.js"></script>
<script src="$rc.contextPath/dist/js/app.min.js"></script>
<script src="$rc.contextPath/assets/js/jquery.validate.min.js"></script>
<script src="$rc.contextPath/assets/js/app_tools.js"></script>
