<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<div class="user-panel">
	        <div class="pull-left image">
	          <img src="$rc.contextPath/assets/img/user.jpg" class="img-circle" alt="User Image">
	        </div>
	        <div class="pull-left info">
	          <p>$!session.getAttribute("username")</p>
	          <p>职位说明</p>
	        </div>
	    </div>
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<li ><a id="home" href="$rc.contextPath/home"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>
			<li class="treeview"><a href="#"><i class="fa  fa-desktop"></i>
					<span>部门管理</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span> </a>
				<ul class="treeview-menu">
					<li><a id="user" href="#"><i class="fa fa-circle-o"></i>部门管理</a></li>
					<li><a id="datatable" href="$rc.contextPath/employee/"><i class="fa fa-circle-o"></i>员工管理</a></li>
				</ul></li>
			
			<li class="treeview"><a href="#"><i class="fa fa-user"></i>
					<span>用户管理</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span> </a>
				<ul class="treeview-menu">
					<li><a  href="$rc.contextPath/user/"><i class="fa fa-circle-o"></i>后台用户管理</a></li>
					<li><a  href="$rc.contextPath/datatable/"><i class="fa fa-circle-o"></i>datatable的使用</a></li>
				</ul></li>
			
		</ul>
	</section>
</aside>