#set($layout="/layout/default.vm")
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>登录页面</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
	<link rel="shortcut icon" type="image/x-icon"
	href="$rc.contextPath/assets/img/logo.ico" />
<link rel="stylesheet"
	href="$rc.contextPath/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<link rel="stylesheet"
	href="$rc.contextPath/assets/css/pnotify.custom.min.css">
<link rel="stylesheet"
	href="$rc.contextPath/assets/css/ionicons.min.css">
<link rel="stylesheet" href="$rc.contextPath/dist/css/AdminLTE.min.css">
<link rel="stylesheet"
	href="$rc.contextPath/plugins/iCheck/square/blue.css">

</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="#"><b>Ali</b>sonar</a>
		</div>
		<div class="login-box-body">
			<p class="login-box-msg">代码有多糟糕，测测就知道</p>

			<form id="loginForm">
				<div class="form-group has-feedback">
					<input name="username" class="form-control" placeholder="请输入用户名">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input name="password" type="password" class="form-control"
						placeholder="请输入密码"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox">
							<label> <input type="checkbox"> 记住我
							</label>
						</div>
					</div>
					<div class="col-xs-4">
						<button type="button" id="loginBtn" class="btn btn-primary btn-block btn-flat">登录</button>
					</div>
				</div>
			</form>
			<a href="#"></a><br>
		</div>
	</div>

	<script src="$rc.contextPath/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="$rc.contextPath/assets/js/pnotify.custom.min.js"></script>
	<script src="$rc.contextPath/assets/js/bootstrap-notify.min.js"></script>
	<script src="$rc.contextPath/bootstrap/js/bootstrap.min.js"></script>
	<script src="$rc.contextPath/plugins/iCheck/icheck.min.js"></script>
	<script src="$rc.contextPath/assets/js/app_tools.js"></script>
	<script>
	$(function(){
		PNotify.prototype.options.styling = "bootstrap3";
		$("#loginBtn").on("click",function(){
			var $btn = $(this);
			$btn.button('loading');
			
			$.ajax({
				url : "doLogin",
				type : "post",
				data : $("#loginForm").serialize(),
				dataType : "json",
				success : function(data){
					if(data.code===200){
						$btn.button('reset');
						$.NOTIFY.showNotify();
						location.href = "home";
					}else{
						$.NOTIFY.showNotify('登录失败','用户名或密码错误','dange');
						$btn.button('reset');
						
					}
					
				}
			});
		
		});
		
	});
	</script>
</body>
</html>
